table
	font-size: 11px

#contenido
	font-size: 11px
	width: 960px
	margin: 0px auto 0px auto

.clear
	clear: both

#cabecera
	background-color: orange
	height: 100px
	color: white
	#titulo
		padding: 30px 0px 0px 40px
		font-size: 3em
	#login
		float: right
		margin: 10px 10px 0px 0px
		a
			color: white

#login_form
	margin: 50px 0px 0px 300px

.nombre_dia
	padding-left: 10px
	margin: 6px
	font-size: 20px
	float: left
	width: 90px
	height: 30px

.dia
	padding-left: 10px
	margin: 5px
	float: left
	width: 90px
	height: 100px
	cursor: pointer
.seleccionado
	border: 1px solid black
	background-color: orange
	border-radius: 15px
	-moz-border-radius: 15px
.noseleccionado
	border: 1px solid black
	background-color: grey
	border-radius: 15px
	-moz-border-radius: 15px

#boton_comprobar
	float: right

#formulario
	font-size: 11px
